@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

select[id="dt-length-0"] {
  padding-right: 20px !important;
}

.fl-wrapper {
  top: 65px !important;
  z-index: 60 !important;
}